* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.all {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.all-1 {
    margin: 10px;
}

.all-11 {
    width: 450px;
    border-radius: 2%;
    box-shadow: 0px 0px 6px black;
}

.all-time {
    display: flex;
}

.all-time h1,
h3 {
    margin: 0;
}

.all-time h1:nth-child(3) {
    font-size: 50px;
}

.all-1-top {
    display: flex;
    padding: 10px;
}
.all-1-top-R{
    padding: 30px 10px 0 0;
    margin-right: 0px;
    width: 15%;
}
.all-1-top-R h1{
    margin: 0;
    padding: 10px;
}
.swiper-wrapper .swiper-slide-active .all-11 {
    background:linear-gradient(blue,greenyellow);
    color: white;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-color: unset;
    background-image: unset;
}